vertebrae_labeling/models filter=lfs diff=lfs merge=lfs -text
vertebrae_labeling/models/csi_spine_prior.pickle filter=lfs diff=lfs merge=lfs -text
vertebrae_labeling/models/hrnet_3d_csi_2mm filter=lfs diff=lfs merge=lfs -text
